.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(167.95deg, #131B45 0%, #2C0E43 53.5%, #06020A 100%);
    height: 100%;
    padding: 20px 0 20px;
    font-family: sans-serif;
    z-index: 1000000;
}

.content-wrapper {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cere-title {
    color: #a855f7;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.description {
    color: rgb(209 213 219/ 1);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.25rem;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-container {
    display: flex;
    gap: 10px;
    color: #ffffff;
    div {
        color: #F5FAFC33;
    }
}

.privacy-text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.privacy-link {
    display: block;
    color: #a855f7;
}

.cta-button-container {
    margin-top: 12px;
    width: 90vw;
}

.cta-button {
    border-radius: 8px;
    background: linear-gradient(to right, #2563eb, #6d28d9);
    width: 100%;
}

.cta-text {
    display: flex;
    align-items: center;
    color: white;
    & > [role='status'] {
        margin-left: 8px;
    }
}

.cta-button:hover  {
    background: linear-gradient(to right, #3b82f6, #8b5cf6);
}
