.leaderboard {
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 1rem;
}

.cta-button-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  bottom: calc(var(--safe_area_inset_bottom) + 80px);
}
