.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
}

.campaigns-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
