.Button-cta {
  background: #111827!important;
  box-shadow: 2px 4px 8px 0px #00000033;
}

.Button-size-l {
  height: 56px;
}

.Button-mode-link {
  color: var(--tgui--text_color);
  text-decoration: underline;
}
