.custom-badge {
    background: linear-gradient(90deg, #6864F4 9.44%, #AC55F2 65.64%, #EB4799 100%);
    white-space: nowrap;
}

.custom-badge.unlocked {
     background: rgba(162, 172, 176, 0.4);
}

.arrow-icon {
    rotate: 270deg;
    transition: transform 0.3s ease;
}

.dark-icon > path {
    fill: var(--tgui--button_color);
}

.arrow-icon.open {
    transform: rotate(90deg);
}
