body .App-root {
  --tgui--accent_text_color: #9244E0;
  --tgui--link_color: #9244E0;
  --tgui--button_color: #9244E0;
  --tgui--font_weight--accent2: 500;
  --tgui--text--secondaty_color: #707579;
  --tgui--outline: #fff;
}

:root {
  transition: background-color 0.8s ease-out, color 0.8s ease-out;
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  z-index: 888;
  background: var(--campaign-banner-bg-color, var(--tgui--bg_color));
  color: var(--campaign-banner-text-color, var(--tgui--text_color));
}
